.logo {
  animation: App-logo-spin infinite 20s linear;
}

.buttons {
  /*align-self: center;*/
  /*display: flex;
  /*justify-content: center;*/
}

.buttons button {
  margin: 0 .5rem;
  font-weight: bolder;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
