.app {
  margin-top: 3rem;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}

.app > div > div > * {
  margin: 1rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgba(0,0,0,.3);
}
